*{
    padding: 0;
    margin: 0;
    font-family:'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero {
    height: 100vh;
    display: inline-block;
    width: 100%;
    background-image:url(img/background.jpg) ;
    background-size: cover;
    background-position: center;

}
.logo {
    height: 35px; 
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
 }
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px ;
    padding-left: 8%;
    padding-right: 8%;

}
span{
    color: #f9004d;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 25px;
}
nav li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;

}
nav .btn{
    padding: 10px 25px;
    border: 2px;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
nav li a:hover{
    color: #f9004d;
    transition: .4s;
}
nav .btn:hover {
    transform: scale(1.2);
}
.slider{
    transform: translateY(-50%);
    left: 8%;
    top: 50%;
    position: absolute;
}
.cont-hello {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 60px;
}
h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.input-submit form {
    max-width: 380px;
    /* max-width: 100%; */
    position: relative;
}
.input-submit input:first-child {
    border-radius: 30px;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    display: inline-block;
    outline: none;
}
.input-submit input:last-child {
    background-color: #f9004d;
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: white;
    box-shadow: 0px 0px 5px #000 , 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.section img {
    height: 500px;
    width: 430px;
    object-fit: cover;

}
.about-text{
width: 550px;
}
.content {
    /* width: 1130px; */
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h3 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize 

}
.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.our-service,.section, .hire-me, .footer{
    width: 100%;
    background-color: #333;
    padding: 100px 0px;
}
.our-service h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    /* width: 1130px; */
    margin: 30px auto;
    text-align: center;
}
.block-service {
    /* width: 33.333333%; */
    /* float: left; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.block-ser-themes {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
}
.block-ser-themes h3 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.block-ser-themes p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.block-ser-themes .icon {
    font-size: 50px;
    /* display: block; */
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

button {
    background-color: #f9004d;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.hire-me{
    align-items: center;
    text-align: center;
    height: 290px;
}
.hire-me .text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.footer {
    /* position: relative; */
    width: 100%;
    height: 400px;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .text {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    
    
}
.footer p{
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.footer .icon-contact  {
    display: flex;
}
.icon-contact i{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.icon-contact i:hover{
    transform: scale(1.3);
    transition: .3s;
}
/* Mobile */
@media only screen and (max-width: 46.188em){

}
/* Tablet */
@media only screen and (min-width: 46.250em) and (max-width:63.938em){
    .about-text{
        padding-left: 10px;
        text-align: justify;
    }
    .block-ser-themes{
        width: 50%;

    }
}
